@font-face {
    font-weight: 400;
    font-family: Proto Grotesk;
    src: url("../fonts/Proto Grotesk/ProtoGrotesk-Regular.ttf"),
    url("../fonts/Proto Grotesk/ProtoGrotesk-Regular.otf");
}

@font-face {
    font-weight: 600;
    font-family: Proto Grotesk;
    src: url("../fonts/Proto Grotesk/ProtoGrotesk-Bold.ttf"),
    url("../fonts/Proto Grotesk/ProtoGrotesk-Bold.otf");
}

@font-face {
    font-weight: 400;
    font-family: Suisse Intl;
    src: url("../fonts/Suisse Intl/SuisseIntl-Regular.otf");
}

@font-face {
    font-weight: 500;
    font-family: Suisse Intl;
    src: url("../fonts/Suisse Intl/SuisseIntl-Medium.otf");
}


* {
    box-sizing: border-box;
}

body {
    background-color: #2F2F2F;
    color: #fff;
    margin: 0;
    font-family: 'Suisse Intl', sans-serif;
}

h1, h2, h3 {
    font-family: 'Proto Grotesk', sans-serif;
}

h1 {
    font-size: 2.75em;
    font-weight: 400;
    margin: 0;
}

h2 {
    font-size: 2em;
    font-weight: 400;
    margin: 0;
}

h3 {
    font-size: 1.5em;
    font-weight: 400;
    margin: 0;
}

p {
    margin: 0;
}

button, .btn {
    cursor: pointer;
    background-color: #FFC300;
    border: none;
    border-radius: 12px;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #1d1d1d;
    display: inline-block;
    width: fit-content;
}

.container {
    max-width: 1300px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

header {
    background-color: #2F2F2F;
    border-bottom: 4px solid #3D3D3D;
    height: 95px;
}

.header__inner {
    display: flex;
    align-items: center;
    height: 100%;
}

.banner {
    position: relative;
    background-image: url("../images/decorate1.svg");
    background-size: cover;
    background-position: bottom;
    color: #fff;
}

.banner__inner {
    padding-top: 130px;
    padding-bottom: 130px;
    display: flex;
    position: relative;
}

.banner__content {
    max-width: 640px;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.banner__desc {
    font-family: 'Proto Grotesk', sans-serif;
    font-size: 1.5em;
}

.banner__image {
    display: block;
    position: absolute;
    right: 0;
    top: 25px;
}

.bonus {
    background-color: #fff;
    color: #1d1d1d;
}

.bonus__inner {
    padding-top: 60px;
    padding-bottom: 60px;
}

.bonus__content {
    margin-top: 48px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.bonus__card {
    background-color: #f5f5f5;
    padding: 24px 32px;
    border-radius: 12px;
}

.bonus__card__desc {
    margin-top: 12px;
    font-size: 1.125em;
}

.bonus__card:nth-of-type(1) .bonus__card__desc {
    width: 245px;
}

.bonus__card:nth-of-type(2) .bonus__card__desc {
    width: 265px;
}

.bonus__card:nth-of-type(3) .bonus__card__desc {
    width: 395px;
}

.bonus__card:nth-of-type(4) .bonus__card__desc {
    width: 267px;
}

.bonus__card:nth-of-type(5) .bonus__card__desc {
    width: 267px;
}

.general_stat {
    background-image: url("../images/decorate2.svg");
    background-repeat: no-repeat;
    background-position: right;
}

.general_stat__inner {
    padding-top: 60px;
    padding-bottom: 70px;
}

.general_stat__big_text {
    font-family: 'Proto Grotesk', sans-serif;
    font-weight: 600;
    font-size: 3.75em;
    color: #ffc300;
}

.general_stat__big_text .huge {
    font-size: 1.33em;
}

.general_stat__desc {
    max-width: 365px;
    margin-top: 25px;
}

.need {
    background-color: #f5f5f5;
    color: #1d1d1d;
    overflow: hidden;
}

.need__inner {
    padding-top: 60px;
    padding-bottom: 60px;
}

.need__content {
    margin-top: 60px;
    display: flex;
    gap: 40px;
    transition: 0.4s;
}

.need__card {
    padding: 20px;
    border-radius: 20px;
    background-color: #fff;
}

.need__card__desc {
    margin-top: 20px;
    width: 325px;
    line-height: 1.5em;
}

.need__card__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.controllers {
    display: flex;
    gap: 26px;
    justify-content: center;
    margin-top: 40px;
}

.controllers button {
    background-color: #fff;
    transition: 0.3s;
}

.controllers button:disabled {
    background-color: #fafafa;
}

.sub {
    background-image: url("../images/decorate3.svg");
    background-repeat: no-repeat;
    background-position: right;
}

.sub__inner {
    padding-top: 40px;
    padding-bottom: 40px;
}

.sub__desc_1 {
    margin-top: 40px;
}

.sub__desc_2 {
    margin-top: 20px;
    max-width: 686px;
}

.sub__button {
    margin-top: 40px;
}

.questions {
    color: #1d1d1d;
    background-color: #f5f5f5;
}

.questions__inner {
    padding-top: 60px;
    padding-bottom: 140px;
}

.questions__desc_1, .questions__desc_2 {
    line-height: 1.75em;
    font-size: 1.5em;
    max-width: 500px;
    color: #2f2f2f;
    font-family: 'Proto Grotesk', sans-serif;
}

.questions__desc_1 {
    margin-top: 40px;
}

.questions__desc_2 {
    margin-top: 10px;
}

.questions__link {
    color: #007470;
    text-decoration: underline;
}

footer {
    background-color: #1d1d1d;
}

.footer__inner {
    padding-top: 80px;
}

.footer__main_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.footer__socials {
    display: flex;
    gap: 6px;
}

.footer__main__inner {
    display: flex;
    gap: 88px;
    flex-wrap: wrap;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}

.footer__contacts__title {
    font-size: 0.875em;
    color: #ffffff50;
}

.footer__link {
    color: #fff;
    text-decoration: none;
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__main_links {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}

.footer__other_content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 24px;
    padding-bottom: 24px;
    border-top: 1px solid #ffffff15;
}

.footer__other_links {
    display: flex;
    gap: 32px;
}

.footer__other_links a {
    font-size: 0.75em;
}

.chat {
    position: fixed;
    bottom: 10%;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.chat__client {
    background-color: #fff;
    color: #1d1d1d;
    border-radius: 12px;
    width: 350px;
    margin-bottom: 15px;
    border: 1px solid #ebebeb;
}

.chat__header {
    padding: 10px 12px 10px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ebebeb;
}

.chat__header__subtitle {
    font-weight: 500;
    font-size: 12px;
    color: #1d1d1d50;
}

.dialog {
    height: 400px;
    padding: 10px;
    overflow: scroll;
}

.chat__form {
    display: flex;
    align-items: flex-end;
    padding: 5px 10px;
    border-top: 1px solid #ebebeb;
}

.chat__form textarea {
    flex-grow: 1;
    border: none;
    outline: none;
    height: 50px;
    resize: none;
    font-family: 'Suisse Intl', sans-serif;
    padding-left: 5px
}

.chat__form textarea::placeholder {
    color: #a6a6a6;
}

.chat__form__submit {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat__form__submit img {
    height: 22px;
}

.chat__form__clip {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.chat__form__clip img {
    height: 22px;
}

.bot__message {
    padding: 10px;
    border-radius: 3px 10px 10px 10px;
    background-color: #f5f5f5;
    margin-bottom: 10px;
    width: fit-content;
}

.user__message {
    padding: 10px;
    border-radius: 10px 10px 3px 10px;
    background-color: #faefdc;
    margin-bottom: 10px;
    width: fit-content;
    margin-left: auto;
}

@media(max-width: 1180px) {
    .banner__content {
        max-width: 500px;
    }
}

@media(max-width: 1180px) {
    .banner__content {
        max-width: max-content;
    }

    .banner__image {
        display: none;
    }
}

@media(max-width: 720px) {
    body {
        font-size: 15px;
    }

    .bonus__card {
        width: 100%;
    }

    .bonus__card:nth-of-type(1) .bonus__card__desc {
        width: 100%;
    }

    .bonus__card:nth-of-type(2) .bonus__card__desc {
        width: 100%;
    }

    .bonus__card:nth-of-type(3) .bonus__card__desc {
        width: 100%;
    }

    .bonus__card:nth-of-type(4) .bonus__card__desc {
        width: 100%;
    }

    .bonus__card:nth-of-type(5) .bonus__card__desc {
        width: 100%;
    }
}

@media(max-width: 660px) {
    .footer__other_links {
        margin-top: 20px;
    }
}

@media(max-width: 620px) {
    body {
        font-size: 14px;
    }

}

@media(max-width: 560px) {
    .general_stat__big_text {
        font-size: 2em;
    }
    .general_stat__inner {
        text-align: center;
    }
    .general_stat__desc {
        max-width: max-content;
    }
}

@media(max-width: 428px) {
    .footer__main__inner {
        gap: 30px;
    }
}